<nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="">Express CRUD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <% if (url == '/' ) { %> active <% } %> " href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (url == '/data_mahasiswa' ) { %> active <% } %> " href="/data_mahasiswa">Data Mahasiswa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if (url == '/data_guru' ) { %> active <% } %> " href="/data_guru">Data Guru</a>
                </li>
            </ul>
        </div>
    </div>
</nav>