<%- include("layouts/navbar") %>

    <div class="container mt-4">
        <h1>Hallo Admin!</h1>
        <p>Ini adalah contoh studi kasus sederhana yaitu mengenai pengelolaan data mahasiswa menggunakan Express CRUD</p>
    </div>